*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.error-page {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-page img {
  width: 90vw;
  max-width: 600px;
  display: block;
  margin-bottom: 2rem;
  margin-top: -3rem;
}
.error-page h3 {
  margin-bottom: 0.5rem;
}

.error-page p {
  line-height: 1.5;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(red);
}
.error-page a {
  color: var(--primary-500);
  text-transform: capitalize;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

body .loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 6rem;
  border: 5px solid #333;
  border-radius: 50%;
  border-top-color: #536dfe;
  animation: spinner 0.6s linear infinite;
}

.navSpan {
  color: goldenrod;
}

a {
  text-decoration: none !important;
}

.blogContainer {
  max-width: 976px;
  margin: 2rem auto;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
  background-color: #fff;
  color: #333;
  border-radius: 0.75rem;
}

.blogContainer h3 {
  margin-bottom: 0.5rem;
  color: #4c6375;
}

.btn:hover {
  background: #4c6375 !important;
  color: #fff !important;
  border-color: #4c6375 !important;
}

.error-msg {
  line-height: 1.5;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: red;
}

.about-section {
  max-width: 800px;
  margin: 1rem auto;
  text-align: center;
  background-color: #fff;
  border-radius: 0.25rem;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  padding: 5rem;
}

.team-photo {
  width: 80%;
  max-width: 800px;
  border-radius: 0.5rem;
  margin: 1rem 0 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-title {
  color: #4c6375;
  letter-spacing: 2px;
}

.speech {
  display: grid;
  place-items: flex-start center;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem 3rem;
}

p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
  color: hsl(206, 21%, 28%);
}

@media only screen and (max-width: 876px) {
  .about-section {
    padding: 0.5rem;
  }

  .speech {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 642px) {
  .speech {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* FOOTER */
.footer {
  background-color: #4c6375;
  color: #f8f8f8;
  flex-shrink: 0;
}

.footer-content {
  padding: 20px 50px;
}

.footer h3,
h5,
h6 {
  font-size: 24px;
  letter-spacing: 1px;
}

.footer p {
  margin: 10px 0 20px;
  color: #f8f8f8;
}

.footer p:last-child {
  margin: 10px 0 20px;
  color: #4c6375;
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.socials li {
  border-right: 1px solid #f8f8f8;
  padding-right: 15px;
  margin-right: 15px;
}

.socials li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.socials a {
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #a8aab3;
}

.footer-bottom {
  background-color: #2a2c34;
  color: #a8aab3;
  text-align: center;
  padding: 10px 50px;
}

@media only screen and (max-width: 600px) {
  .footer-content,
  .footer-bottom {
    padding: 20px;
  }
}

@media only screen and (max-width: 1170px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-content p {
    text-align: start;
  }

  .footer-bottom {
    width: 100%;
  }
}

.nav-links button {
  border-bottom: 2px solid goldenrod;
  background-color: rgba(255, 255, 255, 0.1);
}

.cat-title {
  font-size: 1.25rem;
  color: #4c6375;
  margin: 2rem 0 1rem;
}

.card-container {
  margin: 1rem 1rem 1rem 0;
}
